@model QuoteWebApp.Models.Quote

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<div class="home-jumbotron jumbotron">
    <h1>Quote Post</h1>
    <p class="lead">Here you can see a specific quote with its full description shown.</p>
</div>
<h2></h2>

<div class="details row">
<p>
    @Html.ActionLink("Create New", "Create")
</p>


        <div class="col-lg-12" align="center">
            <span class="quote-subheader">
                @Model.QuoteDate
            </span>
            <span class="quote-subheader">
                •
            </span>
            <span class="quote-subheader">
                @Model.QuoteAuthur
            </span>
            <h1 class="quote-header">
                @Model.QuoteTitle
            </h1>
            <img class="quote-image" src="@Model.QuoteImageURL" />
            <p class="quote-content">
                @Model.QuoteDescription
            </p>
            @if (User != null && User.Identity.IsAuthenticated && User.Identity.Name==Model.UserName || User.IsInRole("admin"))
            {
                <button class="quote-button btn btn-dark">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
                <button class="quote-button btn btn-dark">@Html.ActionLink("Details", "Details", new { id = Model.Id })</button>
                <button class="quote-button btn btn-dark">@Html.ActionLink("Delete", "Delete", new { id = Model.Id })</button>
            }
        </div>
    

</div>

